{{ (ansible_managed + " for " + inventory_hostname) | comment }}

{%if dcache_pool_def is defined %}
# pool.tags=hostname=${host.name}
pool.plugins.meta=org.dcache.pool.repository.meta.db.BerkeleyDBMetaDataRepository
# https://github.com/ivukotic/plugins/raw/master/RPMS/noarch/dcache-plugin-xrootd-monitor-7.0.0-0.noarch.rpm
pool.mover.xrootd.plugins=edu.uchicago.monitor

dcache.java.options.extra="-d64"
{%  set topdir = dcache_pool_def.topdir | default("/pools") %}
{%  set shorthost = inventory_hostname | regex_replace('^([^\.]+)\..*', '\\1') %}
{%  for pool in dcache_pool_def.pools %}
{%    set poolname = pool.name | default(shorthost + "_" + pool.vo + "_" + (loop.index|string)) %}
{%    set poolpath = pool.path | default(topdir + "/" + poolname) %}
[{{ poolname }}-poolDomain]
{%    if pool.javamem_direct is defined %}
dcache.java.memory.direct={{ pool.javamem_direct }}
{%    endif %}
{%    if pool.javamem_heap is defined %}
dcache.java.memory.heap={{ pool.javamem_heap }}
{%    endif %}
[{{ poolname }}-poolDomain/pool]
pool.name={{ poolname }}
pool.path={{ poolpath }}
{%    if pool.size is defined %}
pool.size={{ pool.size }}
{%    endif %}
pool.wait-for-files=${pool.path}/data
pool.lfs={{ pool.lsf | default('precious') }}

{%  endfor %}
{%endif %}

{% if dcache_layout is defined %}
{% for domainentry in dcache_layout %}
{%   if domainentry.domain is defined %}
[{{ domainentry.domain }}]
{%   endif  %}
{%   if domainentry.attr is defined %}
{%     for attrentry in domainentry.attr %}
{%       for key,value in attrentry.items() %}
{{ key }}={{ value }}
{%       endfor %}
{%     endfor %}
{%   endif %}

{% endfor %}
{% endif %}


