{{ (ansible_managed + " for " + inventory_hostname) | comment }}
{% for domainentry in dcache_layout %}
[{{ domainentry.domain }}]
{%   if domainentry.attr is defined %}
{%     for attrentry in domainentry.attr %}
{%       for key,value in attrentry.items() %}
{{ key }}={{ value }}
{%       endfor %}
{%     endfor %}
{%   endif %}

{% endfor %}


